.container {
  max-width: 500px;
  margin: 40px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.5rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

input,
select {
  padding: 8px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px;
  margin-top: 12px;
  border: none;
  border-radius: 4px;
  background-color: oklch(87.1% 0.15 154.449);
  color: black;
  cursor: pointer;
  font-weight: 500;
}

button:hover {
  background-color: oklch(44.8% 0.119 151.328);
}

p {
  margin-top: 10px;
  text-align: center;
}

a {
  color: oklch(45.5% 0.188 13.697);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
