form {
  max-width: 500px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

input,
textarea,
select {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

textarea {
  resize: vertical;
  min-height: 100px;
}

button {
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 4px;
  background-color: oklch(87.1% 0.15 154.449);
  color: black;
  cursor: pointer;
  font-weight: 500;
}

button:hover {
  background-color: oklch(44.8% 0.119 151.328);
}
